h1, h3 {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

body {
	margin: 0;
	padding: 0;
	font: verdana ,arial, helvetica, sans-serif;
	background-color: lightblue;
	color: black;
}


p {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	color: black;
	font-size: large;
}

.introText {
	margin: 0 auto;
	background-color: lightgoldenrodyellow;
	width:75%;
	padding: 2%;
	margin-bottom: 2%;
}

.centerStuff {
   text-align: center;
}

button {
	font-family: 'Orbitron', sans-serif;
	background-color: green;
   border: none;
   color: white;
   padding: 2%;
   font-size: 120%;
   font-weight: bold;
   border-radius: 4%;
   cursor: pointer;
}

button:hover {
    background-color: white;
    color: green;
}

.timerDiv {
   text-align: center;
   width: 82vw;
   margin: 0 auto;
   margin-bottom: 1%;
   margin-top:1%;
}

.questionTimer {
   width: 82vw;
   height:2vw;
}

.answerDiv {
	margin: 0 auto;
	background-color: lightgreen;
   width:40vw;
	margin-top: 2%;
	padding: 1%;
}

.answerDiv p {
   margin: 2%;
   font-size: 4vw;
   font-weight: bold;
   text-align: center;
}

.numeralsDiv {
	margin: 0 auto;
	width:44%;
	margin-top: 2%;
	height: 10vw;
	padding: 2%;
}

.numeralsDiv p {
	text-align: center;
   margin-bottom: 2vw;
}

.numeralsDiv button {
	text-align: center;
	padding: 1vw 2vw 0.5vw 2vw;
	margin-left:2%;
	margin-right:2%;
	width:15%;
	font-size: 3vw;
   border-radius: 0.5vw;
}

.goodRobot {
	float:left;
	margin-left: 1%;
   width:22vw;
}

.badRobot {
	float:right;
	margin-right: 1%;
   width:22vw;
}

.energyBarGood, .energyBarBad {
	background-color: lightseagreen;
}

.energyBarGood {
	float:left;
   width:4.5vw;
}

.energyBarBad {
	float:right;
   width:4.5vw;
}

.hidden {
   display: none;
}
