h1, h3, h4 {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

body {
	margin: 0;
	padding: 0;
	font: verdana ,arial, helvetica, sans-serif;
	background-color: lightblue;
	color: black;
}


p, label {
	font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
	color: black;
	font-size: large;
}

.introText {
	margin: 0 auto;
	background-color: lightgoldenrodyellow;
	width:75%;
	padding: 2%;
	margin-bottom: 2%;
}

.centerStuff {
   text-align: center;
}

button {
	font-family: 'Orbitron', sans-serif;
	background-color: green;
   border: none;
   color: white;
   padding: 2%;
   font-size: 120%;
   font-weight: bold;
   border-radius: 4%;
   cursor: pointer;
}

button:hover {
    background-color: white;
    color: darkGreen;
}

.optionsDiv {
	margin: 0 auto;
	background-color: mistyrose;
	width:75%;
	padding: 2%;
	margin-bottom: 2%;
   overflow: auto;
}

.optionsDiv h3 {
   text-align: left;
   margin-top: -1%;
}

.optionsDiv input {
   margin-left: 1%;
   margin-top: 0.5%;
}

.optionGroupHeader {
   font-weight: bold;
   font-size: 120%;
}

.optionsButton {
   padding-top: 0.5%;
   padding-bottom: 1%;
   background-color: darkRed;
   margin-right: 4vw;
}

.storyButton {
   background-color: lightgoldenrodyellow;
   color: black;
   margin-right: 4vw;
}

.gearSpan {
   vertical-align: middle;
   font-size: 300%;
}

.gearSpanAfterGame {
   vertical-align: middle;
   font-size: 150%;
}

.timerDiv {
   text-align: center;
   width: 82vw;
   margin: 0 auto;
   margin-bottom: 1%;
   margin-top:1%;
}

.questionTimer {
   width: 82vw;
   height:2vw;
}

.answerDiv {
	margin: 0 auto;
	background-color: paleGoldenRod ;
   width:40vw;
	padding: 1%;
}

.answerDiv p {
   font-family: 'Orbitron', sans-serif;
   margin: 2%;
   font-size: 4vw;
   font-weight: bold;
   text-align: center;
}

.answerDiv p:nth-child(2) {
    font-size: 3vw;
}

.numeralsDiv {
	margin: 0 auto;
	width:44%;
	margin-top: 2%;
	height: 10vw;
	padding: 2%;
}

.numeralsDiv p {
	text-align: center;
   margin-bottom: 2vw;
}

.numeralsDiv button {
	text-align: center;
	padding: 1vw 2vw 0.5vw 2vw;
	margin-left:2%;
	margin-right:2%;
	width:15%;
	font-size: 3vw;
   border-radius: 0.5vw;
}

.playAgain {
   margin: 0 auto;
	width:44%;
   /*height: 9vw;*/
   padding: 1%;
}

.playAgain p {
   text-align: center;
   font-size: 3vw;
   font-weight: bold;
   margin: 2%;
}

.optionsAfterGameButton {
   margin-top: 2vw;
   padding-left: 2vw;
   padding-right: 2vw;
   background-color: darkRed;
}

.goodRobot {
	float:left;
	margin-left: 1%;
   width:22vw;
}

.badRobot {
	float:right;
	margin-right: 1%;
   width:22vw;
}

.energyBarGood {
	float:left;
   width:4.5vw;
}

.energyBarBad {
	float:right;
   width:4.5vw;
}

.sliderDiv {
   margin: 0 auto;
   padding-left: 3vw;
   padding-right: 3vw;
   padding-top: 3vw;
   text-align: center;
   font-size: 1.5em;
   width:40%;
}

.sliderDiv span {
   font-family: 'Open Sans', verdana, arial, helvetica, sans-serif;
   font-weight: bold;
}

.sliderDiv h4 {
   text-align: center;
   margin-top: 0;
}

.sliderDiv #timerValue {
   background-color: mistyrose;
}

.sliderDiv #theSlider {
   background-color: orange;
}

.hidden {
   display: none;
}
